div, a, span, section, input, p, h1, h2, h3, h4, h5 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
}
h1, h2, h3, h4, h5, .title, .subtitle {
  font-family: 'Montserrat', sans-serif;
}
.button {
  -webkit-box-shadow: .1em .1em .7em 0px rgba(0, 0, 0, 0.5);
  xbox-shadow: .1em .1em .7em 0px rgba(0, 0, 0, 0.3);
  borderx:0px;
  border-radius: .3em;
  font-weight: 450;
}
.hoverable {cursor: pointer;}
.has-text-centered{margin: 0 auto;}
.info-text{
  padding: 1em 2em;
}

.join-box .box {width:75%}
.button.Alternatives{
  font-size: 14pt;
}

/* top-bar */
#app{margin-top: 65px}
.top-bar {
  padding-bottom:3px;
  background-color: #333;
  color: #eee;
  position: fixed;
  top:0;
  width: calc(100% + 20px);
  z-index: 99;
}
.top-bar .title{
  color:#cc9bb4;
  white-space: nowrap;
}


/* nav drawer - default state is closed*/
.nav-drawer, .nav-drawer-main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dim-layer{
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.nav-drawer, .dim-layer, .nav-drawer-main {
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0; margin: 0;
}
.nav-drawer{width: 0px;} /*initial state*/
.nav-drawer .nav-drawer-main{
  width: 0px;  /*initial state*/
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.nav-drawer .dim-layer {
  background-color: rgba(10,10,10,0.8);
  opacity: 0; width: 0px;  /*initial state*/
}
.nav-drawer.nav-opened{width: 100%;} /*opened state*/
.nav-drawer.nav-opened .dim-layer{
  opacity:1; width: 100%; /*opened state*/
}
.nav-drawer.nav-opened .nav-drawer-main{
  width: 90%; /*opened state*/
  xxpadding: 10px;
}
.nav-drawer-main .section {
  padding: 1em 30px;
}
.nav-drawer-topbar{
  background-color: #555;
  position: -webkit-sticky;
  position: sticky;
  top:0; left:0;
  width: 100%;
  height: 65px;
  z-index: 100;
  padding: 7px 25px;
  margin-bottom: 1em;
}
.nav-drawer-topbar .fa-arrow-left {
  color: #fff;
}
.recently-browsed a {
  display: block;
}


/* Front page */
.front-hero {
  background: linear-gradient(to bottom right, #482a43, #cc9bb4)
}
.front-hero .subtitle{
  color:white;
}
.front-features .subtitle{
  color:white;
}
@media (max-width:768px) {
  .front-search {
  padding-top: 8em;
  padding-bottom: 8em;
}}
.front-search .control {
  width: 60vw;
  margin: 0 auto;
  min-width: 280px;
}
.front-features{padding-bottom: 2em}
.front-meds{
  background-image: url("/img/meds_bg.jpg");
  background-position: center bottom;
}
.front-alt{
  background-image: url("/img/alt_bg.png");
  background-position: center center;
}
.front-consult{
  background-image: url("/img/consult_bg.png");
  background-position: center top;
}
.front-prescript{
  background-image: url("/img/prescript_bg.png");
  background-position: center center;
}
.front-meds,.front-consult,.front-alt,.front-prescript {
  background-size: cover;
  padding-top: 6em;
}

/* med score widget */
.score-box{
  display: inline-flex;
}
.scorebox-recommend, .scorebox-risk {
  color: black;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}
.scorebox-recommend{
  margin-right: -0.2em;
  background-color: green;
}
.scorebox-risk{
  margin-left: -0.2em;
  background-color: yellow;
}
.grade{
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1;
  padding-top: 0.2em;
}
.grade-label{font-size: 0.35em;}
  /*OLD score-box 3 tiles ver*/
.scorebox-overall{
  background-color: blue;
  color:white;
  height: 4em;
  width: 4em;
}
.scorebox-efficacy{
  background-color: lightblue;
  color:black;
  height: 2em;
  width: 2em;
}
.scorebox-sidefx{
  background-color: dodgerblue;
  color:black;
  height: 2em;
  width: 2em;
}
.scorebox-overall .grade{
  font-size: 2.5em;
  line-height: 1;
  padding-top: 0.2em;
}
.scorebox-overall .grade-label{font-size: 0.5em;}
.scorebox-efficacy .grade, .scorebox-sidefx .grade{
  font-size: 1.25em;
  line-height: 1;
  padding-top: 0.15em;
}
.scorebox-efficacy .grade-label, .scorebox-sidefx .grade-label{
  font-size: 0.25em;}


/* drug bible */
.drugbible-page .score-box{
  font-size: 47px;
}
.drug-detail-sideFX{
  background-color: #cc9bb4;
  color:white;
}
.drug-detail-sideFX .subtitle{
  color:white;
}
.drug-detail-interactions{
  background-color: #fce473;
}
.fill-rx-button{
  xmargin: .5em;
}
.drug-title {
  padding:.3em;
}
.drug-detail-ctas .button,
.drug-detail-descrip .button
{margin: .5em;}

/*Questions boxes*/
.questions-box{
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.8);
  position: sticky;
  top: 67%;
  left: 0;
  z-index: 101;
  width: 100%;
  padding:20px;
  height: 33vh;
  color:#fff;
}
.questions-box h1 {
  color:#fff;
}
.question {
  height: 5em;
  position: relative;
  left: 100vw;
}
.question.b{margin-top: -5em;}
.active-question{left:0;}
.questions-complete{height:0px;padding:0px}

.debugmenu{background-color: #ccc}
