div, a, span, section, input, p, h1, h2, h3, h4, h5 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
html{background: #fff}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
}
h1, h2, h3, h4, h5, .title, .subtitle, .score-box {
  font-family: 'Montserrat', sans-serif;
}
.button {
  -webkit-box-shadow: 0 .1em .7em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 .1em .7em 0 rgba(0, 0, 0, 0.5);
  borderx:0px;
  border-radius: 1.5em;
  font-weight: 450;
}
.container .button{
  margin: 1em 0.5em;
}
.section {
padding: 1em 3vw;
}
.hoverable {cursor: pointer;}
.has-text-centered{margin: 0 auto;}
.info-text{
  padding: 1em 0em;
  color: #aaa
}
.info-text span{
  vertical-align: middle;
}
.debugmenu{background-color: #ccc}

.join-box .box {width:75%}
.button.Alternatives{
  font-size: 14pt;
}

/* top-bar */
#app{margin-top: 65px}
.top-bar {
  padding-bottom:3px;
  background-color: #333;
  color: #eee;
  position: fixed;
  top:0;
  width: calc(100% + 20px);
  z-index: 99;
}
.top-bar .title{
  color:#cc9bb4;
  white-space: nowrap;
}
@media (max-width:360px) {
  .top-bar .title {
    font-size: 23px;
    line-height: 30px;
  }
}
.join-button {
  background: #cbc;
  border-color: transparent;
}


/* nav drawer - default state is closed*/
.nav-drawer, .nav-drawer-main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dim-layer{
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.nav-drawer, .dim-layer, .nav-drawer-main {
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0; margin: 0;
}
.nav-drawer{width: 0px;} /*initial state*/
.nav-drawer .nav-drawer-main{
  width: 0px;  /*initial state*/
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.nav-drawer .dim-layer {
  background-color: rgba(10,10,10,0.8);
  opacity: 0; width: 0px;  /*initial state*/
}
.nav-drawer.nav-opened{width: 100%;} /*opened state*/
.nav-drawer.nav-opened .dim-layer{
  opacity:1; width: 100%; /*opened state*/
}
.nav-drawer.nav-opened .nav-drawer-main{
  width: 90%; /*opened state*/
  xxpadding: 10px;
}
.nav-drawer-main .section {
  padding: 1em 30px;
}
.nav-drawer-topbar{
  background-color: #555;
  position: -webkit-sticky;
  position: sticky;
  top:0; left:0;
  width: 100%;
  height: 65px;
  z-index: 100;
  padding: 7px 25px;
  margin-bottom: 1em;
  color: #ccc;
  font-size: 16pt;
}
.nav-drawer-topbar > span:nth-child(1) {
  padding-top: 15pt;
  vertical-align: middle;
  color:#cc9bb4;
}
.nav-drawer-topbar .fa-arrow-left {
  color: #fff;
}
.recently-browsed a {
  display: block;
  margin-bottom: 1em;
}
.recently-browsed a h2 {
  margin-left: 1em;
}
.dashboard{
  text-align: left;
}
.dashboard a {
  color: #482a43;
  display: block;
  vertical-align: middle;
  font-size: 15pt;
  height: 3em;
  text-align: left;
  line-height: 1em;
}
.dashboard a i {
  font-size: 20pt;
  padding-right: 0.5em;
  padding-left: 0.2em;
  width: 1.8em;
  color: #888;
}
/* Old dashboard icons
.dashboard{
  text-align: center;
}
.dashboard a {
  display: inline-block;
  vertical-align: top;
  width: 30vw;
  font-size: 12pt;
  height: calc(25vw + 2.5em);
  text-align: center;
  line-height: 1em;
}
.dashboard a:nth-child(odd){margin-right: 8vw;}
.dashboard a i {
  display: block;
  font-size: 15vw;
  border: 2vw solid;
  border-radius: 50%;
  height: 25vw;
  width: 25vw;
  margin: auto;
  padding-top: 3vw;
}*/


/* Front page */
.front-hero {
  background: linear-gradient(to bottom right, #482a43, #cc9bb4)
}
.front-hero .subtitle{
  color:white;
}
.front-features .subtitle{
  color:white;
}
@media (max-width:768px) {
  .front-search {
  padding-top: 8em;
  padding-bottom: 8em;
}}
.front-search .control {
  width: 60vw;
  margin: 0 auto;
  min-width: 280px;
}
.front-features{padding-bottom: 2em}
.front-meds{
  background-image: url("/img/meds_bg.jpg");
  background-position: center bottom;
}
.front-alt{
  background-image: url("/img/alt_bg.png");
  background-position: center center;}
  .front-alt p, .front-alt h1,
  .front-consult p, .front-consult h1,
  .front-prescript p, .front-prescript h1 {
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.front-consult{
  background-image: url("/img/consult_bg.png");
  background-position: center top;
}
.front-prescript{
  background-image: url("/img/prescript_bg.png");
  background-position: center center;
}
.front-meds,.front-consult,.front-alt,.front-prescript {
  background-size: cover;
  padding-top: 33vh;
}

/* med score widget */
.score-box{
  display: inline-flex;
}
.scorebox-recommend, .scorebox-risk {
  color: black;
  height: 3em;
  width: 3em;
  display: inline-block;
  border-radius: 50%;
}
.scorebox-recommend{
  margin-right: -0.2em;
  background-color: #aaa;
  z-index: 2;
  box-shadow: -0.02em 0 .3em rgba(0, 0, 0, 0.5);
}
.scorebox-risk{
  margin-left: -0.2em;
  background-color: #aaa;
  box-shadow: .02em 0 .3em rgba(0, 0, 0, 0.5);
}
.grade{
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
  padding-top: 0.35em;
  letter-spacing: -0.1em;
}
.out-of-10{
  font-weight: 100;
  font-size: 0.3em;
  letter-spacing: -0.1em;
  color: #555;
}
.grade-label{font-size: 0.35em;}

  /*OLD score-box 3 tiles ver*/
/*.scorebox-overall{
  background-color: blue;
  color:white;
  height: 4em;
  width: 4em;
}
.scorebox-efficacy{
  background-color: lightblue;
  color:black;
  height: 2em;
  width: 2em;
}
.scorebox-sidefx{
  background-color: dodgerblue;
  color:black;
  height: 2em;
  width: 2em;
}
.scorebox-overall .grade{
  font-size: 2.5em;
  line-height: 1;
  padding-top: 0.2em;
}
.scorebox-overall .grade-label{font-size: 0.5em;}
.scorebox-efficacy .grade, .scorebox-sidefx .grade{
  font-size: 1.25em;
  line-height: 1;
  padding-top: 0.15em;
}
.scorebox-efficacy .grade-label, .scorebox-sidefx .grade-label{
  font-size: 0.25em;}*/


/* drug bible */
.drugbible-page .score-box{
  font-size: 12vw;
}
.drug-detail-sideFX{
  /*background-color: #e39e6b;*/
  background: #fcf275;
  /*xcolor:white;*/
}
.drug-detail-sideFX .subtitle{
  /*color:white;*/
}
.drug-detail-interactions{
  /*background-color: #fce473;*/
  background: #fcf275;
}
.fill-rx-button{
  background: #8dd9c1;
  color:#333;
}
.consult-pharmacist-button {
  background: #808be3;
  color:#fff;
  border-color: transparent;
}
.drug-title {
  padding:.3em;}
.drug-detail-descrip .drug-title {
  xposition: sticky;
  top: 65px;
}
.score-and-questions {
  background: linear-gradient(to bottom, #9b617e,#482a43);
  padding-top: 30px;
}
.drug-detail-ctas .button,
.drug-detail-descrip .button
{margin: 1em .5em;}
.drug-detail-ctas{
  text-align: center;
  position: sticky;
  top:calc(100vh - 3.5em);
  top:91vh;
  z-index: 98;
  background: rgba(255, 255, 255, 0.8);
}
.drug-detail-descrip {
  /*margin-top: -3.5em;
  margin-bottom: -1.5em;*/
  padding-top: 0;
  /*padding-bottom: 0;*/
}
.drugbible-page .ctas-placeholder-bottom {height: 3.5em}
.alternatives-box {
background: linear-gradient(to bottom, #9b617e,#482a43);
color:#fff;
text-align: center;
}
.alternatives-box .button {
  color: #000
}

/*Questions boxes*/
.questions-box{
  overflow: hidden;
  /*xbackground-color: rgba(50, 50, 50, 0.8);
  xposition: sticky;
  xtop: 67%;
  xleft: 0;
  xz-index: 98;*/
  width: 100%;
  padding:20px;
  color:#fff;
}
.questions-box h1 {
  color:#fff;
}
.questions-box .button{
  margin-top: 1em;
}
.question {
  height: 100pt;
  position: relative;
  left: 100vw;
}
.question.b{margin-top: -5em;}
/*.question.q0{margin-top: 0pt;}*/
.question.q1{margin-top: -100pt;}
.question.q2{margin-top: -100pt;}
.question.q3{margin-top: -100pt;}
.question.q4{margin-top: -100pt;}
.question.q5{margin-top: -100pt;}
.question.q6{margin-top: -100pt;}
.question.q7{margin-top: -100pt;}
.question.q8{margin-top: -100pt;}
.question.q9{margin-top: -100pt;}
.question.q10{margin-top: -100pt;}
.question.q11{margin-top: -100pt;}
.active-question{left:0;}
.questions-complete{height:0px;padding:0px}
