div, a, span, section, input, p, h1, h2, h3, h4, h5 {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hoverable {
    cursor: pointer;
}

/* top-bar */
#app{margin-top: 65px}
.top-bar {
  padding-bottom:3px;
  background-color: #333;
  color: #eee;
  position: fixed;
  top:0;
  width: calc(100% + 20px);
  z-index: 99;
}
.top-bar .title{color:#ccc}

/* nav drawer - default state is closed*/
.nav-drawer, .dim-layer {
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.nav-drawer{width: 0px;display: none}
.nav-drawer .dim-layer {
  background-color: rgba(10,10,10,0.8);
  padding: 0; margin: 0;
  opacity: 0;
}
.nav-drawer .nav-drawer-main{
  position: fixed;
  top:0; left: 0;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.nav-drawer.nav-opened{width: 100%;display: block}
.nav-drawer.nav-opened .dim-layer{
  opacity:1;
}
.nav-drawer.nav-opened .nav-drawer-main{
  width: 0;
}

/* Front page */
@media (max-width:768px) {
  .front-search {
  padding-top: 8em;
  padding-bottom: 8em;
}}
.front-search .control {
  width: 60vw;
  margin: 0 auto;
  min-width: 280px;
}
.front-features{padding-bottom: 2em}
.front-meds{background-color: lightskyblue}
.front-alt{background-color: lightblue}
.front-consult{background-color: orange}
.front-prescript{background-color: darkred}

/* med score widget */
.score-box{
  width: 6em;
  height: 4em;
}
.scorebox-overall{
  background-color: blue;
  color:white;
  height: 4em;
  width: 4em;
}
.scorebox-efficacy{
  background-color: lightblue;
  color:black;
  height: 2em;
  width: 2em;
}
.scorebox-sidefx{
  background-color: dodgerblue;
  color:black;
  height: 2em;
  width: 2em;
}
.grade{font-weight: bold;}
.scorebox-overall .grade{
  font-size: 2.5em;
  line-height: 1;
  padding-top: 0.2em;
}
.scorebox-overall .grade-label{font-size: 0.5em;}
.scorebox-efficacy .grade, .scorebox-sidefx .grade{
  font-size: 1.25em;
  line-height: 1;
  padding-top: 0.15em;
}
.scorebox-efficacy .grade-label, .scorebox-sidefx .grade-label{
  font-size: 0.25em;}

/* drug bible */
.drugbible-page .score-box{
  font-size: 47px;
}
